/.Python

# Ignore the files in bin
/bin/*

# Except for the Python files
!/bin/*.py

# Excluding some we really don't care about
/bin/activate_this.py

/include/
/lib/
__pycache__
*.pyc

/rq_retry_scheduler.egg-info
/dist
/build
/.cache
/.coverage
/pip-selfcheck.json
/coverage_html
