language: python

python:
  - "2.7"
  - "3.4"
  - "3.5"
  - "3.6"

install:
    - pip install -r requirements.txt

script: make test

services: redis

notifications:
    email:
        on_success: change
        on_failure: change

after_success:
    - coveralls
